[Unit]
Description=Dincosmet Bot Microservice
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/dincosmet_bot
ExecStart=/usr/bin/docker compose up --build
ExecStop=/usr/bin/docker compose down
Restart=always
EnvironmentFile=/home/dincosmet_bot/.env
TimeoutStartSec=0
StandardOutput=journal
StandardError=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
